.profile {
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  background-color: #ebae34;
  color: white;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.name {
  font: 'source sans pro', 'sans serif';
}

@media only screen and (min-width: 1024px) {
  .profile {
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    position: fixed;
    height: 400px;
    margin-top: 170px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
  }

  ;
}

;