/* text box */
#tweet-text {
  border: none;
  border-bottom: 5px solid #545149;
  background-color: transparent;
  /* no outline when you click in the text box */
  outline: none;
  resize: none;
}

/* tweet left side button */
.tweet-button {
  background-color: #4056A1;
  border: none;
  /* padding: 0.2em 0.4em; */
  line-height: 1.5;
  font-family: 'Bungee', 'sans-serif';
  font-size: 1em;
  color: #FFFFFF;
}

/* tweet right side counter */
.tweet-button-count {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', 'sans-serif';
  font-size: 1em;
  margin-top: 1em;
}

/* counter styling for tweets > 140 char */
.to-red {
  color: red;
}

/* error message styling for tweets > 140 char */
#error-message {
  margin-top: 1em;
  color: red;
  border: 3px solid red;
  line-height: 2em
}